
__pycache__
__pycache__/*
*/__pycache__
*/__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# C extensions
*.so
*.pyd
*.dll
*.pyc

proj-py-stegohome/
proj-py-stegohome/*

node_modules/
node_modules/*
*/node_modules
.vercel
